 p.cName {
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 33px;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}
p.cName span {
    font-weight: 600;
}
.nenLogo {
  margin: 0px auto;
width: 388px;
display: block;
}

 div.left {
  box-sizing: border-box;
  margin: 0 auto;
  width: 35%;
  min-width: 470px; 
}

form#login-form {
  background: #fff;
  margin: 2em auto;
  overflow: hidden;
  position: relative;
  border-radius: 0.3em;
  padding: 30px;
}

div.left label {
  display: inline-block;
  color: gray;
  font-size: 1.1em;
  margin-top: 0.6em;
}
div.left input {
  width: 95%;
  display: block;
  margin: 0 auto;
}
div.left input[type="email"], div.left input[type="password"] {
  border: 0.1em solid #dfdfdf;
  padding: 1em;
  margin:0.6em auto;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  transition: all 0.15s ease-in-out;
}
div.left input[type="email"]:focus, div.left input[type="password"]:focus {
  outline: none;
  border: 0.1em solid #bdbdbd;
}
div.left input[type="submit"] {
background-color: rgb(232,86,41);
color: #fff;
outline: none;
text-transform: uppercase;
padding: 10px;
overflow: hidden;
border: none;
letter-spacing: 0.1em;
border-radius: 0.4em;
transition: all 0.15s ease-in-out;
margin-top: 20px;
}
/*div.left input[type="submit"]:hover {
  background: rgba(248, 95, 100, 0.8);
}*/
.mentorView {
	background-color: #EEEDE9;

	section {
		@include centercontent(1200px);
		background-color: #fff;
		
		&>div{
			padding:20px;
		}
		&>div:first-child{
			border-bottom:1px solid rgba(0, 0, 0, 0.07);
		}
		div.profilebrief {
			box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.07);

			.profileimagebig {
					font-size: 140px;
				}
			&>div:first-of-type{
				width: 55%;
				min-width: 640px;
				.profileinfo {
					p:first-child{
					color: $pcolor;
					@include fontd(600,14);
				}
				h1 {
					color: $fcolor;
					@include fontd(500,42);
					padding: 5px 0px;
				}
				p.desig{
					@include fontd(300,18)
				}

			}
			
			}
			.profileinfotwo {	
				margin-top: 25px;
				&>div{
					float: left;
					width: 30%;
					&:first-child span{
						color: rgb(153, 0, 20);
						text-decoration: underline;
					}
					&:nth-child(3) span {
						@include fontd(600,18);
					}
					&>p:first-child{
						@include fontd(600,12);
					}
					&>p:nth-child(2){
						@include fontd(400,18);
					}
				}
			} 
			.profileactions{
				button {
					span{
						position: relative;
						bottom: 7px;
			
					}
					i.material-icons {
						padding: 5px;
					}
					&:not(.btnwhite) i.material-icons {
							color: #fff;
						}
				}
			}
			
		}
		.detailscontainer {
			background-color:#FBFCFC;
			margin-top: 2px;
			.tabscontainer {
				width: 245px;
				border-right: 2px solid #F0F1F1;
				ul {
					li {
						margin: 25px 0px;
						padding: 15px 0px;
						a {
							color: $fcolor;
							text-decoration: none;
						}
						&.active{
							border-right: 2px solid $pcolor;
							margin-right: -2px;
						}
					}
				}
			}

			.tabsviewcontainer {
				padding: 35px 80px 0px 50px;
				width: 78%;
				min-width: 600px;
				box-sizing: border-box;
				.title{
					@include fontd(600,28);
					padding-bottom: 30px;
					color: #383838;
				}
				.titlesecond{
					padding:30px 0px;
				}
				.subheader{
					@include fontd(500,13);
					color: #000;
					padding-bottom:20px;
				}
				p{
					color: #3f4345;
					line-height: 28px;
					@include fontd(300,20);
					padding-bottom: 35px;
				}
				a {
					color: $pcolor;

				}

				ul.mentoringcheck {
					padding-bottom: 30px;
					li {
						display: block;
						text-align: center;
						width: 130px;
						float: left;
						min-height: 170px;
						margin-right: 30px;
						label {
							display: block;
							border: 1px solid #ddd;
							border-radius: 2px;
							padding: 20px 0px;
							min-height: 110px;
							box-sizing: border-box;
							margin-bottom: 10px;
							
						}
						input[type="checkbox"]:checked+label{
							border-color:$pcolor;
						}
						input[type="checkbox"] {
							display: none;
						}
						&::after{
							content: "";
							display: table;
							clear: both;
						}

					}
				}

				.stages
				{
				 overflow: auto;
				 .business
				 {
				  margin-bottom: 20px;
				  p{
				   @include fontd(500,13);
				   color:#000;
				   padding-bottom:0px;
				  }

				 }
				 .business-container {
				 	width: 86%;
					min-width: 665px;
				  .plans {

				   .business-plan
				   {
				    margin-bottom: 20px;

				    h4
				    {
				     @include fontd(400,14);
				     color:rgba(63, 67, 69, 1);
				    }
				    p
				    {
				     @include fontd(400,12);
				     color:rgba(115, 120, 122, 1);
				     padding: 0px;
				    }
				   }
				  }
				  .capital
				  {

				   .capital-plan
				   {
				    margin-bottom: 20px;

				    h4
				    {
				     @include fontd(400,14);
				     color:rgba(63, 67, 69, 1);
				    }
				    p
				    {
				     @include fontd(400,12);
				     color:rgba(115, 120, 122, 1);
				     padding: 0px;
				    }
				   }
				  }
				 }
				}
				.contact
				{

				 .contact-info
				 {
				  margin-bottom: 20px;
				  h1
				  {
				   @include fontd(600,28);
				   color:rgba(56, 56, 56, 1);
				  }
				 }
				 .email	{
				 	width: 72%;
					min-width: 550px;

				  .fleft
				  {

				   h2
				   {
				    @include fontd(500,13);
				    color:rgba(0, 0, 0, 1);
				    margin-bottom: 3px;
				   }
				   p
				   {
				    @include fontd(500,20);
				    color:rgba(0, 0, 0, 1);
				   }
				  }
				  .fright
				  {
				   h2
				   {
				    @include fontd(500,13);
				    color:rgba(0, 0, 0, 1);
				    margin-bottom: 3px;
				   }
				   p
				   {
				    @include fontd(500,20);
				    color:rgba(0, 0, 0, 1);
				    
				   }
				  }
				 }
				}
							}
						}
					}
				}
