
.outer-header
{
    height: 20px;
    padding-bottom: 5px;
	background-color:#990014;

	.logo1
	{
		float:left;
		width:20%;
	}
	.logo2
	{
		float:right;
		width:20%;
		img
		{
		height: 22px;
		width: 100%;
		}
	}
}
.inner-header
{
	background-color:#E85629;
	height:51px;
	clear:both;
		.left-icons
		{
			float: left;
			.icon-name
			{
				@include fontd(600,16);
			}
   	    .material-icons
   	    {
		 	vertical-align: middle !important;
		 	padding-bottom: 10px;
		 				
		}
		.link
		{
			line-height: 51px;
			text-decoration: none;
		}
		span{
		 		color:#fff; 
		 		vertical-align: middle !important;
		 		padding-bottom: 20px;
		 		line-height: 51px;
		 		font-size:14px;
		 	.material-icons
		 	{
		 		vertical-align: middle !important;
		 		padding-bottom: 10px;
		 	}
		}
					
		.menu
		{
			margin-right: 60px;

		
		 i
		 {
		 	padding: 10px 10px 15px;
   			border-right: 1px solid #fff;
		 }
		} 
	}
	.right-icons{
		float:right;
		width:50%;
		text-align: right;
   		padding-right: 40px;
   		span
   		{
   			color:#fff;
   		}
   		.right-menu
   		{
   			margin-right: 15px;
   			i {
   				vertical-align: bottom;
			    line-height: 8px;
			    margin-bottom: 13px;
			    display: inline-block;
			}
   		}
   		.profile
   		{
   			img{
   				padding-top: 9px;
   			}
   			
   		}
   		.name
   			{
				vertical-align: bottom;
			    line-height: 8px;
			    margin-bottom: 12px;
			    display: inline-block;
			    @include fontd(600,14);

			}
	}

}
.container
{
	background-color:#EEEDE9;
	overflow: auto;
    clear: both;

	.main-body
	{
		background-color: #FFFFFF;
		overflow: auto;
		width: 1100px;
    	margin: 20px auto;
    		.mentee
    		{
    			border-bottom: solid 1px #ccc;
			    height: 78px;
			    padding-top: 7px;
    			.mentee-span
    			{
    				border-bottom: solid 1px #ef3c3c;
				    padding: 33px 0;
				    margin: 71px;
   				}
    			a{
				 	text-decoration: none !important;
				    margin-top: 30px;
				    display: inline-block;
				    color: rgba(162, 162, 162, 1);
				    @include fontd(600,14);
   				}
    		}
    		.section
    		{	
    			overflow: auto;
    			.view-profile
    			{
    				border: 1px solid #ccc;
				    height: 394px;
				    width: 30%;
				    float: left;
				    margin: 24px 17px 24px 17px;
				    position: relative;
				    .profile-container
    				{
    					padding: 15px;
    						   
	    				.profile-img
	    				{	
	    					clear:both;
	    					border-bottom: solid 1px #ccc;
						    overflow: auto;
						    padding-bottom: 12px;
	    					.profile-icon
	    					{
	    						width:22%; 
	    						float:left;
	    					}
	    					.profile-name
	    					{	
	    						    padding-top: 12px;
	    						.name
	    						{
	    							display: block;
									color: rgba(107, 103, 102, 1);
								    @include fontd(500,20);
	    						}
	    						.last-name
	    						{
   									color:rgba(107, 103, 102, 1);
   									@include fontd(400,14);
	    						}
	    					}
	    				}
	    				.location
	    				{
	    					    padding: 12px 0;
	    					   .location-name
	    					{
	    						color: rgba(107, 103, 102, 1);
	    						padding-bottom: 4px;
    							@include fontd(600,12);
	    					}
	    					.places
	    					{
	    						@include fontd(400,16);
	    						color:rgba(107, 103, 102, 1);
	    					}


	    					    
	    				}

	    			}
	    			.view-profile-btn
	    				{
    					    background-color: #F8F8F8;
						    padding: 22px;
						    text-align: center;
						    position: absolute;
						    bottom: 0;
						    clear: both;
						    width: 86.9%;
						    color:rgba(0, 0, 0, 1);
						    @include fontd(600,14);
	    				}
    			}
    			.view-profile-4, .view-profile-5
    			{
    				margin-top:2px !important;
    			}
    	}   }
	}
